html,body {
	font:'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background: #e5e5e5;
	color: #111;
	font-weight: 400;
}

p {
	color: #666;
}

.over-hide {
	overflow: hidden;
}

.header-top {
	height: 50px;
	top: 0px;
	left:180px;
	background-color: #12495D;
	z-index: 2;
	padding-left: 180px;
}
	.drawer-btn {
		background: url(drawer-btn.png) no-repeat center center;
		display: block;
		width: 20px!important;
		padding: 0px!important;
		border-radius: 0px!important;
		height: 14px;
		float: left;
		border: none;
		overflow: hidden;
		margin:17px;
	}
	.brand {
		display: block;
		margin: 13px;
		margin-left: 0px;
		float: left;
	}
	.user-panel {
		text-align: center;
		padding: 10px;
		color: white;
	}
	.search-panel {
		margin-bottom: 15px;
	}
	.search-panel input[type="search"]{
		background: #111;
		border: none;
		padding: 5px;
		padding-left: 10px;
		font-size: 12px;
		width: 100%;
		margin: 0px!important;
		border-radius: 30px;
	}
	.profile-pic img{
		max-width: 100px;
		border: white solid 3px;
		border-radius: 75px;
		margin: 0 auto;
	}
	.user-name{
		margin-top: 10px;
	}	
	nav ul {
		margin: 0px;
		list-style: none;
		padding: 0px;
		text-align: left;
		float: left;
		width: 100%;
	}
	nav li a {
		padding: 15px;
		padding-left: 30px;
		display: block;
		color: #999;
		font-weight: 300;
		font-size: 14px;
		text-decoration: none!important;
	}
	nav li a:hover,
	nav li a.active {
		background: #12495D;
		color: #fff;
		font-weight: 400;
	}
	.main-action {
		float: right;
		margin: 10px;
	}
	.top-nav {
		float: left;
	}
	.top-nav ul {
		margin: 0px;
		list-style: none;
		padding: 0px;
	}
	.top-nav ul li {
		display: block;
		float: left;
	}
	.top-nav ul li a {
		padding: 16px 16px;
		color: #ccc;
		font-size: 12px;
		font-weight: bold;
		display: block;
		text-decoration: none;
	}
	.top-nav ul li a:hover {
		color: #fff;
		background: rgba(0,0,0,0.1);
	}
	.top-nav ul li a.active {
		color: #fff;
		background: rgba(0,0,0,0.2);
	}

.menu-cont {
	width: 180px;
	position: fixed;
	bottom: 0;
	top: 0px;
	background-color: #222;
	z-index: 1;
	overflow: hidden;
	height: 100%;
}
.main-container {
	position: absolute;
	left: 180px;
	top: 50px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	overflow: auto;
}

.small-sc,
.large-sc{
	margin-right: 20px;
}
.no-margin {
	margin: 0px!important;
}
.small-sc {
	display: block;
	width: 20%;
	float: left;
}
.large-sc {
	display: block;
	width: 56%;
	float: left;
}

.project-pic {
	display: block;
	background: #ccc;
	height: 60px;
	width: 60px;
	float: left;
	margin-right: 10px;
}
.project-pic img {
	width: 100%;
}

.status-panel {
	background: #f5f5f5;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.status-panel textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
.project-name {
	display: inline-block;
	float: left;
}

.lifecycle-list ul {
	margin:0px;
	padding: 0px;
	list-style:none;
}
.lifecycle-list li {
	display: block;
	border-bottom: #ccc solid 1px;
	padding: 5px 0px;
}
.lifecycle-list li .label {
	float: right;
}


.post-list ul {
	margin:0px;
	padding: 0px;
	list-style: none;
}
.post-list ul li {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.post-list .info {
	margin-bottom: 10px;
}
.post-list .profile-pic {
	width: 40px!important;
	margin-right: 10px;
}
.post-list .profile-pic img {
	width: 100%;
}

.feed-tools {
	width: 100%;
}
.feed-tools input[type="text"] {
	width: 90%!important;
	margin-right: 10px;
}

.docs-list ul {
	margin:0px;
	padding: 0px;
	list-style: none;
}
.docs-list ul li {
	display: block;
	border-bottom: #ccc solid 1px;
	padding: 5px 0px;
}

.nav-tabs {
	border-bottom: 0px!important;
}

.nav-tabs {
	margin-bottom: 5px;
}

.subscriber-list img {
	width: 30px;
}
.views-list img {
	width: 30px;
}

.tool-bar {
	padding:10px 15px;
	background:#fff;
	border-bottom: #ccc solid 1px;
	position: absolute;
	width: 100%;
}

.innovate-list {
	height: 88%;
	width: 710px;
	float: left;
	position: relative;
}

.card-holder {
	overflow-y:auto;
	height: 100%; 
	margin-top: 50px;
	padding: 10px;
}

.card {
	font-family: 'Roboto Slab', serif;
	display: block;
	padding: 15px;
	background: #fff;
	margin: 5px;
	float: left;
	width: 218px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
	border-top: solid 5px; 
}
	.card:hover {
		box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
	}
	.card strong {
		color: #333;
		font-weight: 900!important;
		font-size: 12px;
		margin-bottom: 5px;
		display: block;
	}
	.card p {
		color: #666;
		font-size:14px;
		font-weight: 100!important;
	}

	.card-solution {border-color: #2ecc71;}
	.card-notes {border-color: #f1c40f}
	.card-idea {border-color: #3498db}
	.card-problem {border-color: #e74c3c}


.full-view {
	height: 95%;
	background: #ccc;
	width:50%;
	float: left;
	overflow-y: auto;
	display: block;
	position: relative;
	padding: 0px;
	padding: 20px;
}

.full-card {
	display: block;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
}

.card-header {
	padding: 20px;
	background: #2ecc71;
}
	.card-header h2 {
		font-family: 'Roboto Slab', serif;
		color: #fff;
		font-weight: 300!important;
		margin: 0px;
		margin-bottom: 10px;
	}
	.card-header p {
		color: #111;
		font-family: 'Roboto Slab', serif;
		font-size: 16px;
		float: left;
		font-weight: 300;
	}

.card-body {
	padding: 20px;
}
	.card-body h3 {
		margin: 0px;
	}
	.card-stages{
		border: #ddd solid 1px;
		padding: 10px;
		margin-bottom: 5px;
	}